# API
NODE_ENV=development
API_PORT=3333
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/desafio
SQLITE_DATABASE_URL=file:./data/threads.sqlite

# AI/RAG
GOOGLE_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
EMBEDDING_MODEL=text-embedding-004
CHROMA_URL=http://localhost:8000
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=desafio-winnin

# Web
NEXT_PUBLIC_ANILIST_GRAPHQL_URL=https://graphql.anilist.co
NEXT_PUBLIC_API_URL=http://localhost:3333

# QA
SERVEREST_BASE_URL=http://localhost:3000
GE_BASE_URL=https://ge.globo.com

